body {
    background-color: blue;
}

/* Character slection */

#screen1 {
    width: 800px;
    height: 150px;
    background-color: #ffffff;
    border: 5px solid black;
    position: absolute;
    left: 50px;
    top: 450px;
}

/* Bottom section selection stuff */

/*top section character stuff */

/* PokePet selection screen */

#screen2 {
    width: 1;
}

/* bottom section selection stuff */

/* top section PokePet */

/* battle scene - 4 splits */

#battle {
    width: 1;
}

/* Bottom left - players pokepet  */

/* Bottom Right - Players PokePets Moves and health + name  */

/* Top left - opponents health + name  */

/* top Right - opponents pokepet  */



/* Trainers Design */

#Steven {
    width: 1px;
}

#Anna {
    width: 1px;
}

#Joel {
    width: 1px;
}

#Ben {
    width: 1px;
}
